manifest.json
*.spec
*.exe
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.pyd

# Environment variables
.env
.env.*

# Agent Identification & Security
.api_key
.endpoint_id
endpoint_id.txt

# Logs & runtime data
logs/
scans/
*.log

# Node
node_modules/
.pnp
.pnp.js

# OS
.DS_Store
Thumbs.db

# Certificates & Keys
*.cnf
*.pem
*.key
